.product .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.product .box-container .box {
  text-align: center;
  background-color: #fff;
  position: relative;
  border-radius: 3rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.product .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.product .box-container .box .box-head .title {
  font-size: 1.8rem;
}

.product .box-container .box .box-head .name {
  font-weight: bold;
  font-size: 1.3rem;
  overflow-wrap: anywhere;
}

.product .box-container .dark-bg .box-head .name {
  font-size: 1.3rem;
  color: #fff;
}

.product .box-container .dark-bg .box-head .title {
  font-size: 1.8rem;
  color: #fff;
}

.product .box-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 3rem;
}

.product .box-container .dark-bg img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: unset;
}

.product .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.product .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product .box-container .box-bottom .info .price {
  font-size: 3rem;
}

.product .box-container .box-bottom .info .amount {
  font-size: 1.4rem;
}

.product .box-container .dark-bg .box-bottom .info .price,
.product .box-container .dark-bg .box-bottom .info .amount {
  color: #fff;
}

.product .heading {
  width: 100%;
  border-bottom: 1px solid white;
  margin: 10px 0;
}
.product h1 {
  font-size: 33px;
  color: white;
  font-weight: 600;
}
.product h1 span {
  color: black;
}